/* -------------------------------- Config html - body */
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 320px;
}

/* -------------------------------- Polices */
/* -------------------------------- Header */
h1 {
  font-family: "Smooch", serif;
  font-size: 60px;
  width: 100%;
  text-align: center;
  background-color: white;
}

h1 a {
  text-decoration: none;
  color: lightcoral;
}

.nav-header-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: lightcoral;
}

.nav-header-list-item {
  height: 50px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 15px;
}

.nav-header-list-item a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------- Main */
/* ------------------------------------------- Presentation */
.presentation-picture {
  height: 400px;
  width: 100%;
}

.presentation-picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation-body {
  margin: auto;
  background-color: lightcoral;
  padding: 50px 10px;
}

.presentation-body h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: white;
}

.presentation-body h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
}

.presentation-body p {
  padding: 10px 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.presentation-body img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 20px 0;
}

.bloc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightcoral;
  padding: 20px 0 50px;
  height: 40px;
}

.bloc-btn .btn {
  background-color: antiquewhite;
  color: lightcoral;
  padding: 20px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

/* -------------------------------- Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: antiquewhite;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 85%;
}

footer nav ul {
  list-style-type: none;
}

footer nav li {
  padding: 5px 0;
}

footer nav li a {
  text-decoration: none;
  color: lightcoral;
  font-weight: bold;
}

.social {
  height: 20px;
  width: 20px;
  padding-right: 5px;
  color: lightcoral;
}

hr.solid {
  border: 1px solid lightcoral;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */