/* -------------------------------- Config html - body */
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    min-width: 320px;
}
/* -------------------------------- Polices */
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

/* -------------------------------- Header */
h1 {
    font-family: "Smooch", serif;
    font-size: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    a {
        text-decoration: none;
        color: lightcoral;
    }
}
.nav-header {
    &-list {
        background-color: lightcoral;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        &-item {
            width: 25%;
            a {
                display: inline-block;
                text-decoration: none;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                height: 50px;
                border-radius: 1px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 1px lightcoral;
                &:hover {
                    background-color: white;
                    color: lightcoral;
                    transition: all 0.5s;
                }
            }
        }
    }
}
/* -------------------------------- Main */
/* ------------------------------------------- Presentation */
.presentation {
    &-picture {
        height: 400px;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &-body {
        margin: auto;
        background-color: lightcoral;
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            padding-bottom: 30px;
            color: white;
        }
        h3 {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            color: white;
            padding-bottom: 10px;
        }
        p {
            padding: 10px 0;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }
        img {
            height: 150px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            padding: 20px 0;

        }
    }
}
.btn {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 20px 0 ;
    margin-top: 20px;
    background-color: antiquewhite;
    color: lightcoral;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid antiquewhite;
    &:hover {
        background-color: lightcoral;
        color: antiquewhite;
        box-shadow: 5px 5px 2px antiquewhite;
    }
}
/* -------------------------------- Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: antiquewhite;
    nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
        ul {
            color: lightcoral;
            list-style-type:none;
        }
        li {
            padding: 10px 0;
            width: 120px;
            &::after {
                content: "";
                display: block;
                padding-top: 3px;
                border-bottom: 1px solid lightcoral;
                width: 25px;
            }
            a {
                display: inline-block;
                height: 22px;
                text-decoration: none;
                color: lightcoral;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                @media screen and (max-width: 769px) {
                    font-size: 15px;
                }
            }
        }
    }
}
.logo-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    &-icone {
        font-family: "Smooch", serif;
        font-size: 40px;
        color: lightcoral;
        padding : 10px 0 20px;
        @media screen and (max-width: 769px) {
            font-size: 25px;
        }
    }
    .icecream-logo {
        font-size: 30px;
        color: lightcoral;
            
    }
}
.r-social {
    height: 20px;
    width: 20px;
    padding-right: 5px;
    color: lightcoral;
}
