/* -------------------------------- Config html - body */
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
}

/* -------------------------------- Polices */
/* -------------------------------- Header */
h1 {
  font-family: "Smooch", serif;
  font-size: 60px;
  width: 100%;
  text-align: center;
  background-color: white;
}

h1 a {
  text-decoration: none;
  color: lightcoral;
}

.nav-header-list {
  background-color: lightcoral;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-header-list-item {
  width: 25%;
}

.nav-header-list-item .on-page {
  color: lightcoral;
  background-color: white;
}

.nav-header-list-item a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  height: 50px;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px lightcoral;
}

.nav-header-list-item a:hover, .nav-header-list-item a:focus, .nav-header-list-item a:active {
  background-color: white;
  color: lightcoral;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* -------------------------------- Main */
/* ------------------------------------------- Presentation */
.presentation-picture {
  height: 400px;
  width: 100%;
}

.presentation-picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation-body {
  margin: auto;
  background-color: lightcoral;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation-body h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: white;
}

.presentation-body h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}

.presentation-body p {
  padding: 10px 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.presentation-body img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 20px 0;
}

.btn {
  display: inline-block;
  width: 30%;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  background-color: antiquewhite;
  color: lightcoral;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid antiquewhite;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: lightcoral;
  color: antiquewhite;
}

/* -------------------------------- Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: antiquewhite;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  width: 100%;
}

footer nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav li {
  padding: 10px;
}

footer nav li a {
  display: inline-block;
  padding: 5px;
  height: 22px;
  text-decoration: none;
  color: lightcoral;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 769px) {
  footer nav li a {
    font-size: 15px;
  }
}

footer nav li a:hover::after, footer nav li a:focus::after, footer nav li a:active::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid lightcoral;
}

.underline::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid lightcoral;
}

.r-social {
  padding-bottom: 5px;
}
/*# sourceMappingURL=main.css.map */